In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('./data.csv')
pd.set_option('display.max_columns',None)
data.head()

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,6.10,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,6.15,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,6.32,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,6.15,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,6.29,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

In [12]:
data['POPULATION 1998 (RURAL)'].max()

1044035

In [13]:
data[data['POPULATION 1998 (RURAL)'] == 1044035]

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
455,KPK,PESHAWAR DIVISION,PESHAWAR DISTRICT,PESHAWAR TEHSIL,1257.0,2297375,1172995,1124167,213,104.34,8.74,1044035,4.23,1969823,1025010,944401,412,108.54,7.97,982816,3.72

In [24]:
df = data
df.groupby(['PROVINCE'])[['MALE (RURAL)','FEMALE (RURAL)']].sum()

             MALE (RURAL)  FEMALE (RURAL)
PROVINCE
BALOCHISTAN       4658709         4220436
KPK              12524211        12367532
KPK/FATA          2344159         2243307
PUNJAB           34695963        33961383
SINDH            11922521        11086973

In [27]:
print(df['ALL SEXES (URBAN)'].sum()+df['ALL SEXES (RURAL)'].sum())
print(df['POPULATION 1998 (URBAN)'].sum()+df['POPULATION 1998 (RURAL)'].sum())

204410733
130718312

In [37]:
# DETERMINING THE CHANGE IN POPULATION FROM 1998 TO 2017
IN_2017 = df['ALL SEXES (URBAN)'].sum()+df['ALL SEXES (RURAL)'].sum()
IN_1998 = df['POPULATION 1998 (URBAN)'].sum()+df['POPULATION 1998 (RURAL)'].sum()
print(f'The total population of Pakistan in 1998 was {IN_1998}')
print(f'The total population of Pakistan in 2017 was {IN_2017}')
print(f'The popolation was increased by {IN_2017-IN_1998} persons in 20 years on an average of {(IN_2017-IN_1998)/ 20} annually')
print(f'The population grown by {round((((IN_2017-IN_1998)*100)/IN_1998)/12,3)} % annually')

The total population of Pakistan in 1998 was 130718312
The total population of Pakistan in 2017 was 204410733
The popolation was increased by 73692421 persons in 20 years on an average of 3684621.05 annually
The population grown by 4.698 % annually

In [ ]:
IN_2018=IN_2017*0.04598
total_pop_2017 = IN_2017
#what will be the population of Pakistan after 4 years means in 2021
for i in range(3):
    total_pop_2017 += total_pop_2017 * 0.04598
print(total_pop_2017)

233923491.32355317

In [43]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
AREA (sq.km),528.0,1492.005871,2039.453778,0.0,425.000,882.000,1734.2500,18374.00
ALL SEXES (RURAL),528.0,246278.011364,271189.816559,0.0,50934.500,165241.000,312911.2500,2297375.00
MALE (RURAL),528.0,125275.687500,137563.021458,0.0,27127.250,84134.500,160502.2500,1172995.00
FEMALE (RURAL),528.0,120984.149621,133716.898296,0.0,23979.000,82044.000,152219.0000,1124167.00
TRANSGENDER (RURAL),528.0,18.174242,25.522248,0.0,1.000,10.000,25.0000,213.00
SEX RATIO (RURAL),528.0,98.982614,26.812660,0.0,101.105,105.285,108.3475,139.38
AVG HOUSEHOLD SIZE (RURAL),528.0,6.277064,2.074947,0.0,5.700,6.310,7.2000,12.43
POPULATION 1998 (RURAL),528.0,167427.994318,178388.976993,0.0,35273.500,117206.500,213054.2500,1044035.00
ANNUAL GROWTH RATE (RURAL),528.0,3.124792,9.577872,0.0,1.440,2.030,2.8125,100.00
ALL SEXES (URBAN),528.0,140863.528409,351246.279136,0.0,0.000,43254.500,117814.7500,3653616.00
MALE (URBAN),528.0,72843.386364,182349.241379,0.0,0.000,21980.000,60301.7500,1905921.00
FEMALE (URBAN),528.0,67997.865530,168872.528212,0.0,0.000,20999.000,57465.2500,1746900.00
TRANSGENDER (URBAN),528.0,22.276515,66.068127,0.0,0.000,3.000,19.0000,795.00
SEX RATIO (URBAN),528.0,75.411269,49.687341,0.0,0.000,103.195,107.0400,297.81
AVG HOUSEHOLD SIZE (URBAN),528.0,4.406402,2.948336,0.0,0.000,5.755,6.3400,10.06
POPULATION 1998 (URBAN),528.0,80144.566288,202312.019227,0.0,0.000,21298.000,65422.2500,2075867.00
ANNUAL GROWTH RATE (URBAN),528.0,1.920814,2.098908,0.0,0.000,1.855,2.9850,19.78

In [45]:
all_sex_rural = df[['FEMALE (RURAL)','MALE (RURAL)','TRANSGENDER (RURAL)']].sum(axis=1)
all_sex_urban = df[['FEMALE (URBAN)','MALE (URBAN)','TRANSGENDER (URBAN)']].sum(axis=1) 
df['sex'] = all_sex_rural+all_sex_urban
df.head()

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN),sex
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,6.10,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97,813390
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,6.15,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01,689766
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,6.32,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06,422768
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,6.15,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79,524715
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,6.29,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48,525017